.focus{
	outline:none;
}
#clickhere:hover {
    text-decoration:underline;
	cursor:pointer;
	color: #FF0000;
}
#clickhere{
    text-decoration:underline;
	color: #0000FF;
}
.rembtn{
	padding: 0;
	border: none;
	background: none;
	color: #0000FF;
}
.rembtn:hover{
	color: #FF0000;
	text-decoration:underline;
}
.click:hover {
	cursor:pointer;
}
.lne {

    height: 2px;
    border: 0;
		background-color:#006699;

}
.bg{
	background-color:#22A7F0;
}
.bold{
	font-weight:bold;
	font-size:16px;
}
.space{
	margin-bottom:10px;
}
.pads{
	padding-right:20px;
	padding-left:20px;
}
.pads2{
	padding:20px;
}
.pad2{margin-left:50px;}
.navbar-inverse {
	background-color: #3F3999;
	border-color: #133783;
}
.navbar-inverse .navbar-brand {
color:#FFF;
}
.foot{color:#1B4EB8}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #1B4EB8;
}
.error{
	color:#F00;
	font-size:14px;
}
.noborder{

    border: 0;
}
.invi{display:none;}
.jumbotron p {
font-size: 14px;
font-weight:bold;
}
.reg_form{
	width:83%;
	padding:30px;
}
.border{
	border: 1px #e4e4e4 solid;
	background-color:white;
	margin-top:150px;

}
.form_title{
	font-size:20px;
	font-weight:bold;
}
.form_sub_title{
	font-size:20px;
	font-weight:bold;
	padding-bottom:10px;
}
.pad{padding-left:0px;padding-right:0px; text-align:center}

.greenButton{
	width:auto;
	margin:10px 0 0 2px;
	padding:3px 4px 3px 4px;
	color:white;
	background-color:#589d39;
	outline:none;
	border:1px solid #006600;
	font-weight:bold;
}
.greenButton:active{
	background-color:#006600;
	padding:4px 3px 2px 5px;
}
